<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Home</title>
</head>
<body>
    {{>navbar}}
    <h1>Welcome to MERN stack Development</h1>
    <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 m-auto px-4">
        <h2 class="text-center">Show Users</h2>
    <table class="table table-dark table-striped">
        <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Gender</th>
      <th scope="col">Phone</th>
      <th scope="col">Age</th>
      <th scope="col">Password</th>
      <th scope="col">Confirm Password</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>

    </table>
    </div>
    {{>footer}}
</body>
</html>